.btn.outline {
    background: none;
    padding: 8px 22px;
    border-radius:1px;
}
.btn-primary.outline {
    border: 1px solid #82B5C8;
    color: #82B5C8;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .open > .dropdown-toggle.btn-primary {
    color: #3c3c3c;
    border-color: #3c3c3c;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #82B5C8;
    color: #82B5C8;
    box-shadow: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
    color:#82b5c8;
    background-color:white;
}
.btn-primary {
  color: #fff;
  background-color: #ffffff;
  border-color: none;
}
.logo-small {
      color: #ffffff;
      font-size: 50px;

  }
  .logo {
      color: #ffffff;
      font-size: 10px;
 
  }
  .glyphicon-1 {
   height:3em;
   width:3em;
   border-radius:50%;
   background:#639BB0 ;
        padding: 50px;
        color:#ffffff;
}
  .glyphicon-2 {
   padding-right: 3px;
}

.container {
    padding-top: 10px;
  } 
  h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight:100;
  font-size:80px;
  color:#3c3c3c;
}

 h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight:100;
  font-size:59px;
  color:#3c3c3c;
}
.container-high {
    padding-top: 90px;
  }
 .container-top {
    padding-top: 20px;
  } 
.container-top-color {
    padding-top: 20px;
        background: #f5f5f5;

  } 
.container-top-color-new {
        background: #f5f5f5;
    padding-bottom: 40px;
      } 
    
.container-blue-color {
    padding-top: 30px;
    background: #c6dbe45;
  }

  } 
.container-middle {
    padding-bottom: 1px;
  }

.container-middle-color {
    padding-top: 1px;
        background: #f5f5f5;

  } 

.container-bottom {
    padding-bottom: 30px;
  }
.container-color {
    padding-top: 30px;
    background: #f5f5f5;
  }

.container-footer {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
  } 
h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight:100;
  font-size:25px;
  color:#3c3c3c;
}
h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight:100;
  font-size:35px;
  color:#3c3c3c;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-weight:100;
  font-size:15px;
  color:#3c3c3c;
}

.thumbnail {
padding-left:20px;
padding-right:20px;
padding-top:20px;
padding-bottom:20px;
}
.valign-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}